#app {
  .main-container {
    margin-left:0px;
  }
  .drawer-container {
    transition: transform .28s;
    width: 180px !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
  }
  .is-horizontal {
    display: none;
  }
  a {
    dispaly: inline-block;
    width: 100%;
    overflow: hidden;
  }
  .svg-icon {
    margin-right: 16px;
  }
  &.hideDrawer {
    .drawer-container {
      transition-duration: 0.3s;
      transform:translate3d(-180px,0,0);
    }
  }
  .withoutAnimation {
    .main-container,
    .drawer-container {
      transition: none;
    }
  }
}

